{% extends 'layout.html.twig' %}

{% block javascripts %}
<script>var game_path = location.href.lastIndexOf("/") !== -1 ? location.href.substring(0, location.href.lastIndexOf("/") + 1) : location.href;</script>
  <script src="{{ asset('/js/crafty.js') }}"></script>
  <script src="{{ asset('/js/jquery-ui.min.js') }}"></script>
  <script src="{{ asset('/js/sprites.js') }}"></script>
  <script src="{{ asset('/js/weapons.js') }}"></script>
  <script src="{{ asset('/js/player.js') }}"></script>
  <script src="{{ asset('/js/effects.js') }}"></script>
  <script src="{{ asset('/js/bot.js') }}"></script>
  <script src="{{ asset('/js/app.js') }}"></script>

{% endblock %}

{% block body %}

<div class="col-md-9">
<div class="jumbotron ">


<div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title">Player :{{ character.getName()}} </h3>  </div> </div>
<p class="navbar-text">Level: <span id= "levelTxt">{{character.getLevel()}}</span></p>
<p class="navbar-text">Score: <span id="scoreTxt">{{character.getScore()}}</span></p>



 <div id="cr-stage" style=""></div>

 <div class="" >
 <p>Use Arrow Keys to move, Space to shoot</p>
 <ul class="list-inline">
   <li>
      <button id = "play" type="button" class="btn btn-success">Start game</button>
   </li>
   <li>
   <button id = "level" type="button" class="btn btn-success ">Next level</button>
    </li>
   <li>
   <button id = "pause" type="button" class="btn btn-success " >Pause</button>
    </li>
    <li class="pull-right">
      <a href="{{ path('stop_game') }}"  class="btn btn-danger ">Stop</a>
    </li>
  
   
 </ul>


 </div>
 </div>
 </div>
 <div class="col-md-3 jumbotron">
 <div class="panel-heading"> <h3>Top scores</h3></div>
 <table class="table"> 
 <thead> 
 <tr> <th>Name</th> <th>Score</th>
</thead> 
<tbody>
{% for topScorer in topScorers %}
<tr> <td scope="row">{{ topScorer.getName()}}</td> <td>{{ topScorer.getScore()}}</td> </tr>
{% endfor %}
</tbody> </table>
 </div>
   

 
   

{% endblock %}